<div class="reviews">
<% @reviews.each do |review| %>
  <li>Rating: <%= review.rating %></li>
  <li>Comment: <%= review.body %></li>
  <% if current_user %>
    <%= button_to 'Delete', review_path(review), method: 'delete',
                                                 class: "alert button" %>
  <% end %>
<% end %>
</div>
