<li>
  <div class='row collapse search'>
    <%= form_tag venues_path, method: :get, class: 'search-form' do %>
      <div class="large-4 columns">
        <%= text_field_tag :query, nil, placeholder: "Search"%>
      </div>
      <div class="search-button">
        <%= submit_tag "Search" %>
      </div>
      <% end %>
  </div>
</li>
