<li>
  <%= form_tag venues_path, method: :get, class: 'search-form' do %>
    <div class="input-group">
      <%= text_field_tag :query, nil, placeholder: 'Search', class: 'input-group-field'%>
      <div class="input-group-button">
        <button type="submit" name="commit" class="button" id='search-button'>
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  <% end %>
</li>
