<h2>Administrator Control Panel</h2>
<h3>Current Users</h3>

<ul>
  <% @admin_users.each do |user| %>
    <li><%= user.username %>
      <%= link_to 'Delete User', admin_user_path(user), data: {confirm: 'Are you sure?' },
      method: :delete, class: 'small-button tertiery' %>
      </li>
  <% end %>
</ul>
