<ul>
  <% @admin_users.each do |user| %>
    <li><%= user.username %></li>
    <ul class="button-group">
      <li class="delete-button"><%= button_to 'Delete User', admin_user_path(user), data: {confirm: 'Are you sure?' },
      method: :delete, class: 'button tertiery' %>
      </li>
    </ul>
  <% end %>
</ul>
