.review-list {
  text-align: center;
}

.review {
  margin-bottom: 30px;
}

.review-top {
  padding: 0;
  margin-bottom: 0;
}

.votes {
  margin: 0 auto auto 15px;
}

.heading {
  background: rgba($header-blue, .9);
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: left;

  h1 {
    color: $yellow;
    display: inline-block;
    font-size: 20px;
    margin: 0;
  }

  h2 {
    color: $yellow;
    font-size: 16px;
    margin: 0;

    a {
      float: left;
      font-size: 16px;
      margin-top: 0;
      text-decoration: none;
    }
  }

  a {
    float: right;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: underline;
  }
}

.rating {
  color: $yellow;
  margin-top: 10px;
  padding: 0;
  text-align: center;

  h3 {
    font-size: 30px;
    padding: auto;
  }
}

.rating-body {
  padding: 5px 0;
  text-align: left;

  p {
    font-size: 14px;
    margin: 0;
  }
}

.buttons {
  padding-top: 10px;
}

.button-group {
  display: inline-block;
  margin-left: 0;
}

.button-group>li {
  display: inline-block;
  float: none;
  margin-right: 5px;
 }

.fixed-width-button {
  width: 75px;
}

#review_rating {
  width: 100px;
}

.review-body {
  width: 700px;
}
