<div class="review row">
  <div class="columns small-12 medium-6 medium-centered">
    <div class="row">
      <%= render partial: 'votes/vote_buttons', locals: { review: review } %>
      <div class="rating columns small-2">
        <%= review.rating %>
      </div>
      <div class="body columns small-9">
        <%= review.body %>
      </div>
    </div>
  </div>
</div>
